<footer class="footer">
    <br>
    <div id="footer_media"><strong>Made by Sydney Trinidad, 2023. </strong>Denver, CO, USA.</div>
    <div id="footer_icons">
      <a rel="nofollow" target="_blank" href="https://github.com/sydneytrinidad"><span class="fa fa-github-square"></span></a>
      <a rel="nofollow" target="_blank" href="https://www.linkedin.com/in/sydney-trinidad-41b50256/"><span class="fa fa-linkedin-square"></span></a>
      <a rel="nofollow" target="_blank" href="https://twitter.com/sydtrinidad"><span class="fa fa-twitter-square"></span></a>
      <a rel="nofollow" target="_blank" href="https://www.instagram.com/syd.trini/"><span class="fa fa-instagram"></span></a></li>
      <a rel="nofollow" target="_blank" href="mailto:sydneyctrinidad@gmail.com"><span class="fa fa-envelope"></span></a>
    </div>
  </footer>
</html>