<footer class="footer">
    <br>
    <div id='footermedia'><strong>Made by Sydney Trinidad.</strong> Denver, Colorado.
    <br><a href='https://github.com/sydneytrinidad'>github</a> || 
    <a href='https://www.linkedin.com/in/sydney-trinidad-41b50256/'>linkedin</a> || 
    <a href='https://www.goodreads.com/user/show/40582536-sydney-maples'>goodreads</a> ||
    <a href="mailto:sydneyctrinidad@gmail.com">email</a> ||
    <a href="https://www.instagram.com/syd.trini/">instagram</a></div>
  </footer>
  </html>