<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/assets/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
</head>
<header class="header">
    <div class="title">
        <a href="{{site.url}}/">Sydney Trinidad</a>
    </div>
    <nav class="nav">
      <li><a href="{{site.url}}/" class="active"><span>Home</span></a></li>
      <li><a href="{{site.url}}/blog" class="active"><span>Blog</span></a></li>
      <li><a href="{{site.url}}/about" class="active"><span>About</span></a></li>
    </nav>
</header>