<!DOCTYPE html>
<head>
  <link href='http://fonts.googleapis.com/css?family=EB+Garamond|Cinzel+Decorative:400,700|Raleway|Marta' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
</head>
<header class="header">
    <div class="title">
        <a href="/">Sydney Trinidad</a>
    </div>
    <nav class="nav">
      <li><a href="/" class="active"><span>Home</span></a></li>
      <li><a href="/about" class="active"><span>About</span></a></li>
    </nav>
</header>